@model List<MealListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_memberlayout.cshtml";
    string text = "";

}
<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                       
                       
                        <div class="card-body">
                            <h5 class="card-title"><span class="text-success fw-bold">Onaylanan</span> Tarif Sayısı:</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.c1</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        
                        <div class="card-body">
                            <h5 class="card-title"><span class="text-danger fw-bold">Onaylanmayan</span> Tarif Sayısı:</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.c2</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">


                        <div class="card-body">
                            <h5 class="card-title"><span class="text-primary fw-bold">Gelen</span> Mesaj Sayısı:</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.c3</h6>

                                </div>
                            </div>

                        </div>

                    </div>

                </div><!-- End Customers Card -->
             
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                       

                        <div class="card-body pb-0">
                            <h5 style="font-size:22px" class="card-title">Tüm Yemek Tariflerim:<span></span></h5>
                            <p style="font-weight:bold;font-size:16px" class="text-primary">(Onaylanan tarifler yeşil renk ile onaylanmayan tarifler kırmızı renk ile belirlenmiştir.)</p>

                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Resim</th>
                                        <th scope="col">Kategori</th>
                                        <th scope="col">Yemek</th>
                                        <th scope="col">Kısa Bilgi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var x in Model){
                                        if (x.RecipeStatus == true)
                                        {
                                            text = "text-success fw-bold";
                                        }
                                        else
                                        {
                                            text = "text-danger fw-bold";
                                        }
                                        <tr>
                                        <th scope="row"><a href="#"><img src="@x.MealImage" alt=""></a></th>
                                            <td class ="fw-bold"> @x.Category.CategoryName</td>
                                        <td class="@text">@x.MealName</td>
                                        <td>@x.ShortDescription</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>