@* @using X.PagedList.Mvc.Core
@using X.PagedList *@
@model List<MealListDTO>
<style>
    #imgstyle{
        border-radius:50%;
    }
</style>
<section id="specials" class="specials section">

    <div class="container section-title" data-aos="fade-up">
        <h2>YEMEK TARİFLERİMİZ</h2>
        <p>Birbirinden Lezzetli Tariflerimize Göz Atın!</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
            <div class="col-lg-12 mt-4 mt-lg-0">

                <div class="tab-content">
                    @foreach (var x in Model)
                    {
                        <div class="tab-pane active show" id="specials-tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@x.Category.CategoryName</h3>
                                        <a href="#" style="margin-bottom:15px">@x.MealName</a>
                                    <p>@x.LongDescription</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="@x.MealImage" alt="" style="width:400px;height:320px;margin-top:15px" id="imgstyle" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                </div>
               @*  @Html.PagedListPager(Model, page=>Url.Action("Default",new{page})) *@
            </div>
        </div>

    </div>

</section>